{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.rtl.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.rtl.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-roboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-roboot.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-roboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-roboot.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-roboot.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-roboot.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-roboot.rtl.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.rtl.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.rtl.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css.map' %}">


</head>
<body>
    <a href="https://www.google.com" class='btn btn-primary'>Google</a>
    <a href="https://www.facebook.com" class='btn btn-primary'>facebook</a>
    <a href="https://www.instragram.com" class='btn btn-primary'>instragram</a>
    <a href="https://www.uber.com" class='btn btn-primary'>uber</a>
    <a href="https://www.pyspiders.com" class='btn btn-primary'>pyspiders</a>
    <a href="https://www.qsipders.com" class='btn btn-primary'>qspiders</a>
    <a href="https://www.twiter.com" class='btn btn-primary'>twiter</a>
    <a href="https://www.olx.com" class='btn btn-primary'>olx</a>
    <a href="https://www.whatsapp.com" class='btn btn-primary'>whatsapp</a>
    <br>
    <br>
    <input type="email" class="form-control" id="floatingInput">


    <script src="{% static 'js/bootsrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootsrap.bundle.js.map' %}"></script>
    <script src="{% static 'js/bootsrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootsrap.bundle.min.js.map' %}"></script>
    <script src="{% static 'js/bootsrap.esm.js' %}"></script>
    <script src="{% static 'js/bootsrap.esm.js.map' %}"></script>
    <script src="{% static 'js/bootsrap.esm.min.js' %}"></script>
    <script src="{% static 'js/bootsrap.esm.min.js.map' %}"></script>
    <script src="{% static 'js/bootsrap.js' %}"></script>
    <script src="{% static 'js/bootsrap.js.map' %}"></script>
    <script src="{% static 'js/bootsrap.min..js' %}"></script>
    <script src="{% static 'js/bootsrap.min.js.map' %}"></script>
</body>
</html>